body {
    margin: 10%;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border-radius: 10px;
    border: 1px solid #2b2839;
}
.avatar:hover{
    width:170px;
}

@keyframes card1 {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
.card {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #654c4f;
    color: #2b2839;
    text-shadow: 4px 4px 6px #5D474A;
    border-bottom: 6px solid #c0caad;
    box-shadow: 10px 10px 10px;
    animation-name: card1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.border-blue {
    border: 1px dotted blue;
}
.info{
    width: 150px;
    height: 150px;
    background: #c0caad;
    border-radius: 10px;
    padding: 0px 20px;
    border-bottom: 30px solid #b26e63;
    box-shadow: 5px 5px 10px #000;     
}

h3:hover{
    font-size:150%;
    color: #E9D66A;
}
p:hover {
   background-color: whitesmoke;  
}
h4:hover {
    text-decoration: underline;
    font-family: monospace;
}